
<h1>Monitors</h1>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
<script scr="<%= asset_path('chartkick') %>"></script>
<%= line_chart @monitors, download: true %>
